*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*1rem=10px*/
    font-size: 62.5%;
    /*main font*/
    font-family: 'Solway', serif;
    font-weight: 500;
}

body{
    background-color: #e7e7e7;
}


    header{
        background-color: #C2AB87;
        height: 5rem;
        max-width: 145rem;
        margin: auto;

        display: flex;
        align-items: center;

        position: relative;
        z-index: 1;

        box-shadow: 0px 15px 15px -4px rgba(34, 29, 19, 0.301);
    }
        /*nav-meny */
        nav {
            width: 95%;
        
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            .navLogo{
                margin: 5%;
            }

            .navList{
                width: 40rem;
                list-style: none;

                display: flex;
                justify-content: space-evenly;
            }

                .navItem  a{
                    font-size: 1.4rem;
                    font-weight: 400;
                    text-decoration: none;
                    color: white;
                } 
                 .navItem a:hover{
                     text-decoration: underline;
                 }

    /*secation one*/
    .sectionOne{
        background-image: url(../img/teaMainCover.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 60rem;
        max-width: 141rem;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .sectionOne-heading{
            font-size: 5.6rem;
            font-weight: 500;
            color: #e2b618;
        }

            .sectionOne-subHeading{
                font-size: 4.6rem;
                font-weight: 400;
                color: rgb(59, 59, 59);
                
            }
/*section Two*/
    .sectionTwo{
        background-color: #F5F5F5;
        height: 50rem;
        max-width: 141rem;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
        /*section two left article*/
        .sectionTwo-article{
            width: 70rem;
            height: 30rem;
            margin: auto;
            color: #e2b618;

            /*temp fix*/
            overflow: hidden;
        }
            .sectionTwo-article_heading{
                font-size: 3.6rem;
                font-weight: bold;
                
            }
                .sectionTwo-article_paragraph{
                    font-size: 2.6rem;
                    font-weight: 400;
                    margin-top: 3rem;
                }

        .sectionTwo-imgContainer{
            height:101%;
            margin-top: 0.4%; 
            /*img to narrow for the task, 
            the exktra % in hight and the 
            top margin adjust that.*/
        }

            .sectionTwo-imgContainer img{
               height: 100%;
            }

    /*section three*/
    .sectionThree{
        background-color: #B5CFB1;
        height: 90rem;
        max-width: 141rem;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

     /*reserve card, section three*/
        .sectionThree-card_container{
            background-color: #e9e7e0;
            width: 80%;
            height: 80%;

            border-radius: 1rem;
            
            position: relative;
            z-index: 0;

            display: flex;
            justify-content: flex-end;

            overflow: hidden;
        }  
        
            .sectionThree-article{
                position: absolute;
                z-index: 0;
                width: 75rem;
                padding: 8rem 10rem;

                display: flex;
                flex-direction: column;

            
            }
                .sectionThree-article_paragraph{
                    font-size: 2.8rem;
                    line-height: 4rem;
                    font-weight: 400;
                    margin-top: 5rem;
                    color: #e2b618;
                }
        
    /*moving part of the card section*/
        .sectionThree-card_aside{
            background-color: #ccb6a3;
            width: 112.8rem;
            height: 72rem;

            border-radius: 1rem 0 0 1rem;

            position: relative;
            z-index: 1;
            right: 62.5%;
            transition: all 1s ease-in-out 0.5s; /*closing transtion*/

            display: flex;
            justify-content: space-around;
            align-items: center;

            box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.137);
        }     
                .sectionThree-card_aside:hover{
                    right: 0%;
                    transition: all 1s ease-in; /*opening transtion*/
                }

                    /*text and from in moving card*/
                    .card-aside_article{
                        width: 35rem;
                        height: 40rem;
                        padding-left: 8%;
                        font-size: 1.8rem;
                        color: #ffffff; 
                    }

                        .card-aside_heading{
                            font-size: 2rem;
                            color: #ffd231;

                            margin: 1rem 0;
                        }

                            .card-aside_reserveHeading{
                                font-size: 2rem;
                                font-style: normal;
                                color: #fad654;

                                background-color: #8d7b6c;
                                border-radius: 0.5rem;
                                cursor: pointer;

                                padding: 1rem;
    
                                align-self: flex-end;
                                position: absolute;
                                right: 14%;
                                bottom: 16%;
                            }

                    #sectionThree-card_reserveTableForm{
                        width: 41rem;

                        display: flex;
                        flex-direction: column;
                    }

                    #sectionThree-card_reserveTableForm input{
                        background-color: #ECE9DF;
                        border:none;
                        padding: 1rem;
                        margin: 1rem;
                    }

                        #ReserveDate{
                            width: 26.5rem;
                        }

                        #sectionThree-card_reserveTableForm  select{
                            background-color: #ECE9DF;
                            padding: 1.2rem;
                            margin: 1rem;
                            width: 10rem;
                            border: none;
                        }
                            

                        #CustumerMessage{
                            background-color: #ECE9DF;
                            margin: 1rem;
                            width: 39rem;

                            border:none;
                            border-radius: 0.5rem;
                        }

                        #sectionThree-card_reserveTableForm button{
                            background-color: #B6ED8A;
                            padding: 1.5rem;
                            margin: 0 1rem;
                            width: 10rem;

                            border: none;
                            border-radius: 0.3rem;
                        }

                        .fromRow{
                            width: 41rem;

                            display: flex;
                            justify-content: space-between;
                        }
    footer{
        background-color: #9B8769;
        height: 6rem;
        max-width: 145rem;
        margin: auto;

        box-shadow: 0px -15px 15px -4px rgba(34, 29, 19, 0.301);
    }



/*half window responsivness*/
@media only screen and (max-width: 1250px){

        /*secation two*/
        .sectionTwo{
            max-width: 141rem;
            height: auto;
            padding: 2rem;

            justify-content: space-evenly;
            flex-wrap: wrap;
            
        }
            .sectionTwo-article_heading{
                font-size: 3rem;
            }

            .sectionTwo-article_paragraph{
                font-size: 2rem;
            }
         
            .sectionTwo-imgContainer img{
                width: 100%;
               
             }

        /*section three*/

        .sectionThree-article{
            width: 56rem;      
        }
            .sectionThree-article_paragraph{
                font-size: 2.4rem;
            }
    
    }   
